
/* #region header */
header {
  background-color: #e76c1f;
  color: white;

  .header-top-left {
    height: 70px;
    padding: 16px;

    img {
      width: 90px;
      height: 37px;
    }
  }
}

/* #endregion */

/* #region HERO SECTION */


.hero-section {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;

  .hero-img {
    width: clamp(300px, 90dvw, 1440px);
    height: 340px;
    border-radius: 16px;
    object-fit: cover;
  }

  .hero-icon {
    width: clamp(120px, 15vw, 200px);
    height: clamp(120px, 15vw, 200px);
    position: absolute;
    z-index: 1;
    bottom: 0;
  }
}

.rating-box {
  width: 110px;
  height: 32px;
  background-color: #facaac;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.intro-text {
  text-align: center;

  h1 {
    font-size: clamp(40px, 4dvw, 48px);
    font-family: "Palanquin Dark";
    font-weight: 700;
    line-height: 120%;

    .burger {
      color: #e76c1f;
    }
  }

  p {

    font-size: clamp(20px, 2dvw, 24px);
    font-family: "Palanquin";
    font-weight: 700;
    color: #363534;
    line-height: 120%;
  }
}

/* #endregion */

/* #region Bottom-Nav */

.bottom-navigation{

    width: 100%;
    height: 78px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #363534;
    padding: 0px 16px;
    position: fixed;
    bottom: 0;


    img{
        width: 28px;
        height: 30px;
    }


}


/* #endregion */

/* #region FOOTER */

footer {
  display: flex;
  justify-content: center;
  background-color: #e76c1f;
  color: white;
}

/* #endregion */
