* {
margin: 0;
padding: 0;
scroll-behavior: smooth;
box-sizing: border-box;
text-decoration: none;
position: relative;
list-style: none;
font-size: inherit;
font-family: Palanquin;
background: initial;
border: initial;
}

.content{

 width: 100%;
  max-width: 1440px;
  padding: 22px;
  margin: 0 auto;

  @media screen and (min-width: 1024px) {
    padding-left: 50px;
  }
}
  
body {
  padding-bottom: 78px;
}

@media screen and (min-width: 1024px) {
  body {
    padding-bottom: 0;
  }
}

